# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
*.log

# DVC Cache
.dvc/cache/

# Build files
build/
dist/
*.egg-info/

# PostgreSQL
*.sql.bak